/* styles.css */


/* --- FONTS --- */
/* Import Google Font into styles.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* General Body Font */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

/* Other font and layout styles */
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #222;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1em;
}


/* --- NAVIGATION BAR --- */
/* General navbar styles */
.navbar {
    display: flex;  /* Flexbox layout */
    justify-content: space-between;  /* Space between the logo/name and navbar links */
    align-items: center;  /* Vertically center the items */
    background-color: #333;
    padding: 10px;
  }
  
  .logo-container {
    display: flex;
  }
  
  .logo {
    width: 40px;  /* Adjust logo size */
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
  }
  
  /* .site-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 20px;
} */
  
  .navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;  /* Align navbar links horizontally */
  }
  
  .navbar-links li {
    margin-left: 20px;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
  }
  
  /* Hover effect */
  .navbar-links a:hover {
    background-color: #555;
    color: #fff;
  }
  
  /* Active link styling */
  .navbar-links a.active {
    font-weight: 1000;
    background-color: #921;
    color: white;
  }
  